<%= simple_form_for([@test, @trial]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Trial #', collection: 1..100 %>
    <% if @page_header == "Edit Trial" %>
      <%= f.input :accuracy_rating, collection: 1..10 %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
