<!DOCTYPE html>
<html>
  <head>
    <title>MentalArithmetic</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <div class="container inner-wrapper">
      <% if @page_header != 'homepage' && @page_header.present? %>
        <%= render 'layouts/header' %>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
